.container {
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    color: #ffeead;
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: column;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}

.container > .home {
    background-color: #96ceb4;
    padding: 10px;
}

.container > .search {
    background-color: #ff6f69;
    padding: 10px;
}

.container > .logout {
    background-color: #96ceb4;
    padding: 10px;
}
